<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recipe Share - View</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <body class="bg-secondary">
        <div class="container mt-4">
            <div class="row">
                <div class="col-9">
                    <h1 class="bg-dark text-success mb-2 p-3 rounded">Welcome, {{ user.first_name }}</h1>
                </div>
                <div class="col-2">
                    <h5><a href="/recipes">Back to Recipes</a></h5>
                </div>
                <div class="col-1">
                    <h5><a href="/logout">Logout</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card text-bg-dark mb-3">
                        <div class="card-header text-primary">
                            <div class="row">
                                <div class="col-9">
                                    <h2>{{ recipe.name }}</h2>
                                </div>
                                <div class="col-3">
                                    <h5>Posted by: {{ recipe.user.first_name }} </h5></div>
                                </div>
                            </div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td>Description:</td>
                                    <td>{{ recipe.description }}</td>
                                </tr>
                                <tr>
                                    <td>Under 30 Minutes:</td>
                                    <td>{% if recipe.under_30_mins == 1 %} Yes {% else %} No {% endif %}</td>
                                </tr>
                                <tr>
                                    <td>Instructions:</td>
                                    <td>{{ recipe.instructions }}</td>
                                </tr>
                                <tr>
                                    <td>Date Made:</td>
                                    <td>{{ recipe.date_made }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>