<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recipe Share - All Recipes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <body class="bg-secondary">
        <div class="container mt-4">
            <h1 class="bg-dark text-success mb-2 p-3 rounded">Welcome, {{ user.first_name }}</h1>
            <div class="row">
                <div class="col">
                    <div class="card text-bg-dark mb-3">
                        <div class="card-header p-3">
                            <div class="row">
                                <div class="col-10">
                                    <h5>All posted recipes:</h5>
                                </div>
                                <div class="col-1">
                                    <h5><a href="/recipes/new">+ Create</a></h5>
                                </div>
                                <div class="col-1">
                                    <h5><a href="/logout">Logout</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-dark table-striped table-hover">
                                <thead class="text-center text-warning">
                                    <tr>
                                        <td>Name</td>
                                        <td>Under 30 Mins</td>
                                        <td>Posted By</td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                {% for recipe in recipe_list %}
                                    <tr>
                                        <td>{{ recipe.name }}</td>
                                        <td class="text-center">{% if recipe.under_30_mins == 1 %} Yes {% else %} No {% endif %}</td>
                                        <td class="text-center">{{ recipe.user.first_name }}</td>
                                        <td class="text-center"><a href="/recipes/{{ recipe.id }}">View Recipe</a>
                                        {% if recipe.user_id == session['logged_in_id'] %}
                                                |    <a href="/recipes/edit/{{ recipe.id }}">Edit</a>
                                                |    <a href="/recipes/delete/{{ recipe.id }}">Delete</a>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% if not recipe_list %}
                                <h5 class="text-center text-danger">No one has shared any recipes, add one to share!</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>