<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos App</title>
</head>
<body>
    <h1>New ToDo</h1>
    <form method="POST" action="/todo/new">
        <div>
            <label for="description">Description:</label>
            <input type="text" name="description" id="desciption">
        </div>
        <div>
            <label for="status">Status:</label>
            <select name="status" id="status">
                <option value="not_started">Not Started</option>
                <option value="in_progress">In Progress</option>
                <option value="complete">Complete</option>
                <option value="cancel">Cancel</option>
            </select>
        </div>
        <div>
            <label for="id">New ToDo ID:</label>
            <input type="number" name="id" id="id">
        </div>
        <div>
            <label for="user_id">Description:</label>
            <select name="user_id" id="user_id">
                {% for user in users: %}
                <option value="{{user['id']}}">{{user['first_name']}} {{user['last_name']}}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>