<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Counter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container jumbotron text-center shadow p-5 mt-5">
            <h1>Visit Count: {{visit_count}}</h1>
            <div class="grid mb-5">
                <div class="row">
                    <button type="button" class="col btn btn-primary" onclick="location.href = 'http://localhost:5001/';">Reload Page</button>
                    <button type="button" class="col btn btn-success" onclick="location.href = 'http://localhost:5001/add_count/2';">Add 2 Visits</button>
                    <button type="button" class="col btn btn-danger" onclick="location.href = 'http://localhost:5001/destroy_session';">Reset Session</button>
                </div>
            </div>
            <div>
                <h1>User Counter: {{counter}}</h1>
                <form action="/form_submit" method="post">
                    <label for="counter">Enter a numeric value to add to counter: </label>
                    <input type="number" name="counter">
                    <input type="submit" value="Add to Counter">
                </form>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>