* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #303030;
}

h1 {
    text-align: center;
    padding: 15px 30px;
    width: 450px;
    margin: 30px auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square1 {
    background-color: red;
    height: 50px;
    width: 50px;
}

.square2 {
    background-color: grey;
    height: 50px;
    width: 50px;
}
